:root {
  --hero-bg-color: #4743fb;
  --hero-text-color: white;
  --hero-font-family: "Balsamiq Sans", sans-serif;
  --html-bg-color: #11111b;
  --html-container-margin: margin: 0 auto;
  --html-text-align: center;
 
}
html{
  background-color: var(--html-bg-color);
  margin: var(--html-conteiner-margin);  
  padding: 2rem;
  text-align: var(--html-text-align);
}

